/* DONE REVIEWING: GITHUB COMMIT 1️⃣ */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* GROUNDS */
    --background: theme(colors.white);
    --background-layer-2: theme(colors.zinc.50);
    --foreground: theme(colors.zinc.950);

    /* DIVIDERS */
    --border: theme(colors.zinc.200);
    --ring: var(--foreground);
    --input: var(--border);

    /* BRANDS */
    --primary: theme(colors.red.600);
    --primary-foreground: theme(colors.red.50);
    --secondary: theme(colors.indigo.600);
    --secondary-foreground: theme(colors.indigo.50);
    --accent: var(--foreground);
    --accent-foreground: var(--background-layer-2);

    --muted: theme(colors.zinc.100);
    --muted-foreground: theme(colors.zinc.500);

    /* COMPONENTS */
    --card: var(--background-layer-2);
    --card-foreground: var(--foreground);

    --popover: var(--background-layer-2);
    --popover: var(--foreground);
  }

  .dark {
    --background: theme(colors.zinc.950);
    --background-layer-2: theme(colors.zinc.900);
    --foreground: theme(colors.white);
    --border: theme(colors.zinc.800);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .shc-label-base {
    @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70;
  }

  .shc-label {
    @apply shc-label-base;
  }

  .shc-button-base {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
  }

  .shc-button-primary {
    @apply bg-primary text-primary-foreground hover:bg-opacity-90;
  }

  .shc-button-secondary {
    @apply bg-secondary text-secondary-foreground hover:bg-opacity-90;
  }

  .shc-button-outline {
    @apply border border-input bg-background hover:bg-accent hover:text-accent-foreground;
  }

  .shc-button-link {
    @apply text-primary underline-offset-4 hover:underline;
  }

  .shc-button-normal {
    @apply h-10 px-4;
  }

  .shc-button-sm {
    @apply h-9 px-3;
  }

  .shc-button-lg {
    @apply h-11 px-8;
  }

  .shc-button-icon {
    @apply h-10 w-10;
  }
}
