/* DONE REVIEWING: GITHUB COMMIT 1️⃣ */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* GROUNDS */
    --background: theme(colors.white);
    --background-layer-2: theme(colors.zinc.50);
    --foreground: theme(colors.zinc.950);

    /* DIVIDERS */
    --border-light: theme(colors.zinc.100);
    --border: theme(colors.zinc.200);
    --ring: var(--foreground);
    --input: var(--border);

    /* BRANDS */
    --primary: theme(colors.red.500);
    --primary-hover: theme(colors.red.600);
    --primary-foreground: theme(colors.red.50);
    --secondary: theme(colors.indigo.500);
    --secondary-hover: theme(colors.indigo.600);
    --secondary-foreground: theme(colors.indigo.50);
    --accent: var(--foreground);
    --accent-foreground: var(--background-layer-2);

    --muted: theme(colors.zinc.100);
    --muted-foreground: theme(colors.zinc.600);

    /* COMPONENTS */
    --card: var(--background-layer-2);
    --card-foreground: var(--foreground);

    --popover: var(--background-layer-2);
    --popover: var(--foreground);
  }

  .dark {
    --background: theme(colors.zinc.950);
    --background-layer-2: theme(colors.black);
    --foreground: theme(colors.white);
    --border-light: theme(colors.zinc.900);
    --border: theme(colors.zinc.800);
    --primary: theme(colors.red.400);
    --primary-hover: theme(colors.red.500);
    --secondary: theme(colors.indigo.400);
    --secondary-hover: theme(colors.indigo.500);
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .shc-label-base {
    @apply text-sm font-medium leading-none peer-disabled:pointer-events-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70;
  }

  .shc-body-inline-base {
    @apply text-sm font-normal leading-normal;
  }

  .shc-card {
    @apply rounded-md border-0 bg-background-layer-2 shadow-sm ring-1 ring-inset ring-border;
  }

  .shc-form-disabled-style {
    @apply disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
  }

  .shc-form-focus-style {
    @apply [&:is(.shc-button-primary,.shc-button-secondary)]:focus-visible:ring-inset-none focus-visible:outline-none focus-visible:ring-ring [&:is(.shc-button-link)]:focus-visible:decoration-primary [&:is(.shc-button-primary,.shc-button-secondary)]:focus-visible:ring-offset-2 [&:is(.shc-button-primary,.shc-button-secondary)]:focus-visible:ring-offset-background [&:is(:not(.shc-button-primary,.shc-button-secondary,.shc-button-outline))]:focus-visible:ring-2;
  }

  .shc-input-typography-style {
    @apply text-sm font-medium leading-normal placeholder:font-normal placeholder:text-muted-foreground;
  }

  .shc-input-file-style {
    @apply file:border-0 file:bg-transparent file:text-sm file:font-medium;
  }

  .shc-input-base {
    @apply shc-flex-middle-start shc-card shc-form-disabled-style shc-form-focus-style shc-input-typography-style shc-input-file-style shc-transition w-full;
  }

  .shc-button-typography-style {
    @apply whitespace-nowrap text-sm font-medium leading-[1.25rem];
  }

  .shc-button-base {
    @apply shc-flex-center shc-card shc-form-disabled-style shc-form-focus-style shc-button-typography-style shc-transition;
  }

  .shc-button-primary {
    @apply bg-primary text-primary-foreground ring-primary hover:bg-primary-hover hover:ring-primary-hover;
  }

  .shc-button-secondary {
    @apply bg-secondary text-secondary-foreground ring-secondary hover:bg-secondary-hover hover:ring-secondary-hover;
  }

  .shc-button-outline {
    @apply bg-background ring-input hover:bg-accent hover:text-accent-foreground hover:ring-accent;
  }

  .shc-button-link {
    @apply !rounded-none text-foreground underline decoration-1 underline-offset-4 !ring-0;
  }

  .shc-button-normal {
    @apply px-2.5 py-1.5;
  }

  .shc-button-sm {
    @apply px-2 py-1;
  }

  .shc-button-lg {
    @apply px-3 py-2;
  }

  .shc-button-icon {
    @apply h-10 w-10;
  }
}

@layer utilities {
  .ring-inset-none {
    --tw-ring-inset: ;
  }

  .shc-flex-middle-start {
    @apply flex items-center justify-start;
  }

  .shc-flex-center {
    @apply flex items-center justify-center;
  }

  .shc-transition {
    @apply transition-colors duration-100 ease-linear;
  }
}
