/* DONE REVIEWING: GITHUB COMMIT */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* GROUNDS */
    --background: theme(colors.white);
    --background-layer-2: theme(colors.zinc.50);
    --foreground: theme(colors.zinc.950);

    /* DIVIDERS */
    --border: theme(colors.zinc.200);
    --ring: var(--foreground);
    --input: var(--border);

    /* BRANDS */
    --primary: theme(colors.red.600);
    --primary-foreground: theme(colors.red.50);
    --secondary: theme(colors.indigo.600);
    --secondary-foreground: theme(colors.indigo.50);
    --accent: var(--foreground);
    --accent-foreground: var(--background-layer-2);

    --muted: theme(colors.zinc.100);
    --muted-foreground: theme(colors.zinc.500);

    /* COMPONENTS */
    --card: var(--background-layer-2);
    --card-foreground: var(--foreground);

    --popover: var(--background-layer-2);
    --popover: var(--foreground);
  }

  .dark {
    --background: theme(colors.zinc.950);
    --background-layer-2: theme(colors.zinc.900);
    --foreground: theme(colors.white);
    --border: theme(colors.zinc.800);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .shc-label-base {
    @apply text-sm font-medium leading-none peer-disabled:pointer-events-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70;
  }

  .shc-body-inline-base {
    @apply text-sm font-normal leading-normal;
  }

  .shc-card {
    @apply rounded-md border border-border bg-background-layer-2 px-3 py-2;
  }

  .shc-form-disabled-style {
    @apply disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
  }

  .shc-form-focus-style {
    @apply ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }

  .shc-input-typography-style {
    @apply text-sm font-medium leading-normal placeholder:font-normal placeholder:text-muted-foreground;
  }

  .shc-input-file-style {
    @apply file:border-0 file:bg-transparent file:text-sm file:font-medium;
  }

  .shc-input-base {
    @apply shc-flex-middle-start shc-card shc-form-disabled-style shc-form-focus-style shc-input-typography-style shc-input-file-style shc-transition w-full;
  }

  .shc-button-typography-style {
    @apply whitespace-nowrap text-sm font-medium leading-[1.375rem];
  }

  .shc-button-base {
    @apply shc-flex-center shc-card shc-form-disabled-style shc-form-focus-style shc-button-typography-style shc-transition;
  }

  .shc-button-primary {
    @apply border-primary bg-primary text-primary-foreground hover:bg-opacity-90;
  }

  .shc-button-secondary {
    @apply border-secondary bg-secondary text-secondary-foreground hover:bg-opacity-90;
  }

  .shc-button-outline {
    @apply border-input bg-background hover:bg-accent hover:text-accent-foreground;
  }

  .shc-button-link {
    @apply text-primary underline-offset-4 hover:underline;
  }

  .shc-button-normal {
    @apply px-4;
  }

  .shc-button-sm {
    @apply px-3 py-1.5;
  }

  .shc-button-lg {
    @apply px-8 py-2.5;
  }

  .shc-button-icon {
    @apply h-10 w-10;
  }
}

@layer utilities {
  .shc-flex-middle-start {
    @apply flex items-center justify-start;
  }

  .shc-flex-center {
    @apply flex items-center justify-center;
  }

  .shc-transition {
    @apply transition-colors duration-300 ease-linear;
  }
}
